$orange: #f37c38;
$blue: #0d2c4c;

#sidebar {
  background-color: $blue;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 20%;
  height: 100vh;
}

#template-wrapper {
  width: 100%;
  text-align: center;
}
#template {
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
